[submodule "bundle/unite"]
	path = bundle/unite
	url = https://github.com/Shougo/unite.vim/
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/vim-twig"]
	path = bundle/vim-twig
	url = https://github.com/evidens/vim-twig
[submodule "bundle/vim-vala"]
	path = bundle/vim-vala
	url = https://github.com/tkztmk/vim-vala.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-kangaroo"]
	path = bundle/vim-kangaroo
	url = https://github.com/tommcdo/vim-kangaroo.git
[submodule "bundle/vim-autoformat"]
	path = bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "bundle/vim-liquid"]
	path = bundle/vim-liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-ocl"]
	path = bundle/vim-ocl
	url = https://github.com/arteymix/vim-ocl.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/loremipsum"]
	path = bundle/loremipsum
	url = https://github.com/vim-scripts/loremipsum
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/brainfuck-syntax"]
	path = bundle/brainfuck-syntax
	url = https://github.com/vim-scripts/brainfuck-syntax.git
[submodule "bundle/vim-pipe"]
	path = bundle/vim-pipe
	url = https://github.com/krisajenkins/vim-pipe.git
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-pandoc-syntax"]
	path = bundle/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc
