[submodule "bundle/unite"]
	path = bundle/unite
	url = https://github.com/Shougo/unite.vim/
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/vim-twig"]
	path = bundle/vim-twig
	url = https://github.com/evidens/vim-twig
[submodule "bundle/vim-vala"]
	path = bundle/vim-vala
	url = https://github.com/tkztmk/vim-vala.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-kangaroo"]
	path = bundle/vim-kangaroo
	url = https://github.com/tommcdo/vim-kangaroo.git
[submodule "bundle/phpcomplete-extended"]
	path = bundle/phpcomplete-extended
	url = https://github.com/m2mdas/phpcomplete-extended.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-autoformat"]
	path = bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
